@charset "utf-8";


.container {
  position: relative;
  text-align: center;
  color: white;
}

.brand-text {
	font-size: 2.0rem;
	font-weight: 300;
	font-family: 'Oxygen', sans-serif;
	color: #000000;
}
