@charset "utf-8";

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used
    background-image: url("pics/sempreNK.jpg");*/

    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
.container {
  position: relative;
  text-align: center;
  color: white;
} */

.brand-text {
	font-size: 2.0rem;
	font-weight: 300;
	font-family: 'Oxygen', sans-serif;
	color: #000000;
	text-decoration: none;
}




/* Centered text */
.bottom-center {
    position: absolute;
    bottom: 8px;
    left: 50%;
    /*left: 50%;*/
    transform: translate(-50%, -50%);
}
