@charset "utf-8";

html, body {
    margin: 0;
    height: 100%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  height: 100%;
}

.brand-text {
	font-size: 2.0rem;
	font-weight: 300;
	font-family: 'Oxygen', sans-serif;
	color: #7f7f7f;
	text-decoration: none;
	padding: 8px 8px 8px;
	transition: color 1s;
}

.brand-text:hover {
	color: #000000;
}

.navbar {
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.navbar {
    border-bottom: solid 1px #E9EAEC;
}

.brand-text:hover {

}